// [ COLORS ]

// Menu
$green: #26c6da; // Header, H1, H2
$lightBlue: #29b6f6; // Hr, Button

// Aside
$almostWhite: #f6f6f6; // Body
$mediumGray: #e9e9e9; // Tag, Pre, Textarea...
$darkGray: #cecece; // Tag, Pre...
$almostBlack: #383838; // H1
